<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="app.css">
    <title>Some website</title>
</head>

<body>
    {{> header}}
    <p>{{screamIt message}}</p>
    <table width="100%" border="1px">
        <tr>
            <th>S/N</th>
            <th>Name</th>
            <th>Matric no</th>
            <th>Department</th>
            <th>Level</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Michael Iduku</td>
            <td>PSC1508050</td>
            <td>Computer Science</td>
            <td>400l</td>
        </tr>
    </table>

    {{> footer}}
</body>

</html>