<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="app.css">
    <title>Some website</title>
</head>

<body>
    <h1>We would be Right Back</h1>

    <p>Site is in maintenance mode</p>
</body>

</html>