<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="app.css">
    <title>Some website</title>
</head>

<body>
    {{> header}}
    <p>This is my portfolio page, contains links to all my completed projects</p>

    {{> footer}}
</body>

</html>